body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}       

#zurueck{
  top: 10px;
  right: 10px;
  padding: 10px;
}

.groupOfItems{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.returnButton{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}